body {
    /*
    height: 100vh;
    background: url("images/background_2.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    */
    background: red;
    overflow-x: hidden;
    font-family: 'Comfortaa', cursive; 
    font-size: 1rem;
    color: white;
}
 /*--------- Top Section naming and Paragraph ----------  */
.name-top {
    color: rgb(0, 0, 0);
    font-family: 'Josefin Slab', serif;
    text-transform: uppercase;
}
.name-info {
    font-family: 'Josefin Slab', serif;
    text-transform: lowercase;
}

/* ----------- Navigation bar design ------------- */

.navbar {
    float: left;
    background-color: black
}

.navbar .nav-link {
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    transition: all 0.5s;
}
.nav-link:hover{
    transform: scale(1.1);  
}
.navbar .nav-item.active {
    border-left: #444 3px solid;
}
ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: #000;
    display: inline-block;
}

li a::after{
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background:rgb(248, 248, 248);
    transition: all .5;
}
li a:hover::after{
    width: 100%;
}

/* ----------- About Section ------------*/
#about {
    font-family: 'Abel', sans-serif;
    margin-top: 6.6rem;
    
}

#about .icon {
    color: rgb(31, 22, 22);
    transition: all .5s;
}
.icon:hover{
    transform: scale(1.3);
}
/* -------- Skill Section ---------*/ 

.img-icon {
    height: 4rem;
    width: 4rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
 /* -------- SKILL ICON  --------*/ 
.skill-design {
    font-family: 'Abel', sans-serif;
    box-shadow: 5px 0 15px rgba(0,0,0,.25);
    position: relative;
    transform: scale(.95);
    transition: all .3s ease;
}

